# Configuration file version
apiVersion: 1

# List of data sources to delete from the database.
deleteDatasources:
  - name: Tempo
    orgId: 1

# Mark provisioned data sources for deletion if they are no longer in a provisioning file.
# It takes no effect if data sources are already listed in the deleteDatasources section.
prune: true

datasources:
  - name: Tempo
    type: tempo
    uid: Tempo
    url: http://tempo:3200
    access: proxy
    basicAuth: false
    editable: true
    jsonData:
      tlsSkipVerify: true
      tracesToLogsV2:
        # Field with an internal link pointing to a logs data source in Grafana.
        # datasourceUid value must match the uid value of the logs data source.
        datasourceUid: 'Loki'
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        tags: [{ key: 'service.name', value: 'service' }]
        filterByTraceID: false
        filterBySpanID: false
        customQuery: true
        query: "{service=\"collide\"} |= \"$${__span.traceId}\""
      tracesToMetrics:
        datasourceUid: 'Mimir'
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        tags: [{ key: 'service.name', value: 'service' }]
      serviceMap:
        datasourceUid: 'Mimir'
      nodeGraph:
        enabled: true
      search:
        hide: false
      lokiSearch:
        datasourceUid: 'Loki'
      traceQuery:
        timeShiftEnabled: true
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
      spanBar:
        type: 'Tag'
        tag: 'service.name'
      tracesToProfiles:
        datasourceUid: Pyroscope
        profileTypeId: memory:alloc_objects:count:space:bytes
        tags: [{ key: 'service.name', value: 'service' }]