# exclude build output directory
build/

# exclude benchmark-created *.test files
*.test

# exclude local dev environment
.env

# exclude local prometheus data
prometheus/data

# exclude local grafana data
grafana/