# exclude build output directory
build/

# exclude benchmark-created *.test files
*.test

# exclude local dev environment
.env

# exclude local data
local/

# exclude changes in the provisioning directory
provisioning/